body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 1;
  overflow: hidden;
  position: relative; /* Needed for absolute positioning of gradient */
}

.moving-gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(0, 0, 0), #3f2a49);
  background-size: 100% 100%; /* Adjust to control the speed of the animation */
  animation: color 5s ease-in-out infinite; /* Adjust animation duration as needed */
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.right-column {
  flex: 1;
  overflow-y: scroll;
  background: #ffffff;
  background-image: linear-gradient(
      rgb(171, 171, 171) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgb(204, 204, 204) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust grid size as needed */
}

.section {
  height: 100vh; /* Adjust height as needed */
  border-bottom: 1px solid #ccc; /* Optional: Add a border between sections */
}

.me-img {
  width: 50%;
  margin: 15% 25% 0 25%;
}

.logo-img {
  width: 7%;
  margin: 20px 10px 0 20px;
}

.logo-text {
  display: flex;
  align-items: center;
}

h2 {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  margin-top: 35px;
}

.title {
  font-size: 80px;
  align-content: center;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: font-size 0.5s ease; /* Smooth transition */
  margin-top: 50%;
  cursor: pointer;
}

.title:hover {
  color: grey;
}

.small-title {
  font-size: 40px !important; /* Override font size */
}

.sub-titles {
  display: none; /* Initially hide */
  text-align: center;
  font-size: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
}

.show {
  display: block; /* Show sub-titles */
}

a {
  text-decoration: none;
}