/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

body {
    background: radial-gradient(ellipse at bottom, #6b1818, #111);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

/* .buttonOne {

}

.FoodContainer {
    background-color: white;
    width: 30px;
    height 30px;
} */

.plate {
    width: 400px;
    height: 400px;
    background-color: #d3d3d3;
    border-radius: 50%;
    border: 5px solid #808080;
    position: relative;

}

.inner-circle {
    width: 340px;
    height: 340px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}